header{
    background-color: lightblue;
    margin: 0;
}

header ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    height: 30px;
}

header ul li{
    border: solid black 1px;
    margin: 0;
    background-color: orange;
    height: 30px;
}

header ul li a{
    text-decoration: none;
    color: black;
    margin: 0;
    height: 30px;
    line-height: 30px
}

.button span{
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -6px;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

main{
    background-color: lightgreen;
}



main img{
    width: 400px;
}