main{
    background-color:  rgb(3, 63, 75);
}

.block{
    background-color: lightgrey;
    font-size: large;
}

.block p{
    width: fit-content;
    height: fit-content;
}

main img{
    height: 100%;
    border-radius: 20px;
}
